.box {
    top: 50%;
    left: 50%;
}
.box select{
    background-color: teal;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    color: rgb(231, 231, 231);
    font-size: larger;
    display: flex;
    align-content: center;
    justify-content: center;
}

.box select option{
    
}